@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 85%;
}

header {
  display: flex;
  padding: 2rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: #3c3a39;
  width: 100%;
  margin: 0 auto;
}

header a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.main-section {
  position: absolute;
  width: 100%;
  background: #1c1a19;
}

main {
  background-image: url(/images/illustration.svg);
  background-repeat: no-repeat;
  background-size: 156px;
  background-position-x: 161px;
  background-position-y: 250px;
  height: 40rem;
  position: relative;
}

.title {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  color: #ff6b00;
  margin-top: 7rem;
}

.title2 {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.main-section p {
  margin: 2rem 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(255, 255, 255);
}

.main-section ul {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
